<form [formGroup]="reservationForm">
  <div class="movie-input">
    <mat-form-field>
      <mat-label>Seans</mat-label>
      <mat-select formControlName="seance">
        <mat-option *ngFor="let seance of availableSeances" [value]="seance">
          {{seance.hourOfStart}} ({{seance.movie.title}})
        </mat-option>
      </mat-select>
      <mat-error>Wybierz seans</mat-error>
    </mat-form-field>
  </div>
  <div class="input-fields">
    <mat-form-field>
      <mat-label>Imię</mat-label>
      <input formControlName="firstName" matInput>
      <mat-error>Wpisz imię</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nazwisko</mat-label>
      <input formControlName="lastName" matInput>
      <mat-error>Wpisz nazwisko</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ilość miejsc</mat-label>
      <input formControlName="noOfPlaces" matInput>
      <mat-error>Podaj ilość rezerwowanych miejsc</mat-error>
    </mat-form-field>
  </div>
</form>
<div class="save-cancel-button">
  <button mat-raised-button color="primary" (click)="addReservation()">Zapisz</button>
  <button mat-raised-button color="basic" (click)="cancel()">Anuluj</button>
</div>
